<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Bright Sound Music Hub</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/js/bootstrap.min.js">
  

  
</head>




<body class="index-page"> 

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <h1 class="sitename">Bright Sound Music Hub</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <!-- <li><a href="#pricing">Pricing</a></li> -->
          
          
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn" href="https://wa.me/+2348089182986">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="assets/img/hero-bg.png" alt="" data-aos="fade-in">

      <div class="container d-flex flex-column align-items-center text-center">
        <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Bright Sound Music Hub</h2>
        <p data-aos="fade-up" data-aos-delay="200">Premium Music Academy Serving Lekki, Ikoyi, Banana Island & Lagos Island — Learn Music Theory, Master Instruments, Get you prepared for music international graded exams such as MUSON, ABRSM e.t.c.</p>
        <div data-aos="fade-up" data-aos-delay="300">
          <a href="https://www.youtube.com/embed/hDMLcqKO0do?si=vevV7oggMdrZXLnQ" class=" glightbox pulsating-play-btn"   ></a>
               
             </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Bright Sound Music Hub</h2>
        <p>We are a leading music academy offering professional musical training and instrument sales across Lekki, Ikoyi, Banana Island & Lagos Island.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>At Bright Sound Music Hub, we believe that every learner—beginner or advanced—can unlock their musical potential with the right guidance.</p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Expert training in piano, guitar, violin, drums, saxophone & voice.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Comprehensive music theory lessons for all age groups.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Sales of high-quality musical instruments and accessories.</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>We provide structured, enjoyable, and personalized lessons that help learners grow musically at their own pace. Whether you’re preparing for music exams, training professionally, or learning for passion, our environment is designed to help you succeed.</p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Music Services</h2>
        <p>Professional music lessons and instrument sales tailored for students across Lagos Island.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 ">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative   theory">
              <div class="icon">
                <i class="bi bi-music-note-list"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Music Theory Classes</h3>
              </a>
              <p>Learn sight-reading, harmony, notation & proper foundation for all musical advancement.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200" >
            <div class="service-item position-relative   theory">
              <div class="icon">
                <i class="bi bi-music-note-beamed"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Instrument Training</h3>
              </a>
              <p>Piano, Guitar, Violin, Drums, Saxophone & Voice coaching from certified instructors.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative    theory">
              <div class="icon">
                <i class="bi bi-house-door"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Home & Private Lessons</h3>
              </a>
              <p>Premium one-on-one music lessons available in Lekki, Ikoyi, Banana Island & other nearby locations.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative   theory">
              <div class="icon">
                <i class="bi bi-bag"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Musical Instrument Sales</h3>
              </a>
              <p>Buy authentic pianos, guitars, violins, drums & accessories at competitive prices.</p>
            </div>
          </div>

          <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-people"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Kids Music Classes</h3>
              </a>
              <p>Fun and engaging music development programs tailored for children ages 4 and above.</p>
            </div>
          </div> -->

          <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-mic"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Studio & Recording Support</h3>
              </a>
              <p>Use our music-friendly space for rehearsals, recordings & creative projects.</p>
            </div>
          </div> -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="assets/img/start-now.png" alt="">

      <div class="container">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-9 text-center text-xl-start">
            <h3>Start Your Music Journey Today</h3>
            <p>Join hundreds of learners across Lekki, Ikoyi & Lagos Island who trust Bright Sound Music Hub for professional and enjoyable music training.</p>
          </div>
          <div class="col-xl-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Join Now</a>
          </div>
        </div>

      </div>

    </section>

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <div class="row gy-4">

          <div class="features-image col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/feature.png" alt=""></div>

          <div class="col-lg-6 order-lg-1">

            <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-award flex-shrink-0"></i>
              <div>
                <h4>Qualified Music Instructors</h4>
                <p>Train with expert tutors with international certification and years of performance experience.</p>
              </div>
            </div>

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-laptop flex-shrink-0"></i>
              <div>
                <h4>Flexible Learning Options</h4>
                <p>Choose between studio classes, home lessons, or virtual music training sessions.</p>
              </div>
            </div>

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-cash-coin flex-shrink-0"></i>
              <div>
                <h4>Affordable Packages</h4>
                <p>Top-quality music education at competitive prices designed to fit your learning goals.</p>
              </div>
            </div>

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-shop flex-shrink-0"></i>
              <div>
                <h4>Premium Instruments</h4>
                <p>Shop durable and authentic musical instruments sourced from trusted global brands.</p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section>
    <!-- /client reviews-->
      <!-- Reviews Carousel -->
<section id="reviews" class="py-5 bg-light">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="fw-bold">Clients Feedbacks</h2>
            <p class="text-muted">Hear from our wonderful clients</p>
        </div>

        <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card border-0 shadow  card-carol">
                                <div class="card-body p-5 text-center">
                                    <div class="mb-4">
                                        <i class="fas fa-quote-left fa-2x text-dark opacity-25"></i>
                                    </div>
                                    
                                    <p class="lead mb-4">"My two daughters have been taking piano lessons with you, and the experience has been nothing short of fantastic. They genuinely look forward to every class—their excitement says it all.

In just a short time, I’ve watched their confidence grow tremendously, both at the keys and beyond. Their teacher, mr Ayo, is patient, professional, and truly gifted at connecting with young learners. It’s clear how much care and skill goes into each lesson.

I’m deeply impressed with the progress they’ve made and couldn’t be happier. Thank you for fostering such a positive, inspiring environment where young musicians can thrive."</p>
                                    <div class="rating mb-3">
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                    </div>
                                    <h5>Serge Noujaim</h5>
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <!-- <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card border-0 shadow  card-carol">
                                <div class="card-body p-5 text-center">
                                    <div class="mb-4">
                                        <i class="fas fa-quote-left fa-2x text-primary opacity-25"></i>
                                    </div>
                                    <p class="lead mb-4">"Theory Grade 8 passed with merit. The structured lessons made complex concepts easy to understand."</p>
                                    <div class="rating mb-3">
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star-half-alt text-warning"></i>
                                    </div>
                                    <h5>Michael Chen</h5>
                                    <p class="text-muted">Trinity Grade 8 Theory - Merit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- Slide 3 -->
                <!-- <div class="carousel-item">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card border-0 shadow    card-carol">
                                <div class="card-body p-5 text-center">
                                    <div class="mb-4">
                                        <i class="fas fa-quote-left fa-2x text-primary opacity-25"></i>
                                    </div>
                                    <p class="lead mb-4">"My son passed Grade 3 violin with distinction. The teachers are patient and professional."</p>
                                    <div class="rating mb-3">
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                    </div>
                                    <h5>Parent of Alex Thompson</h5>
                                    <p class="text-muted">ABRSM Grade 3 Violin - Distinction</p>
                                </div>
                            </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
    
    

    <!-- </section>/Clients Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section dark-background">

      <img src="assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="subheading">
          <h3>What We’ve Achieved</h3>
          <p>Bright Sound Music Hub has grown into one of the most trusted music academies across Lagos Island.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="1" class="purecounter"></span>
              <p>Students Trained</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
              <p>Instruments Sold</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours of Classes</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p>Professional Instructors</p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <div class="container-fluid">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

            <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p>Here are answers to some of the common questions we receive from students and parents.</p>
            </div>

            <div class="faq-container px-xl-5" data-aos="fade-up">

              <div class="faq-item faq-active">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Do you offer home lessons?</h3>
                <div class="faq-content">
                  <p>Yes, we offer home lessons across Lekki, Ikoyi, Banana Island & nearby locations.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Which instruments can I learn?</h3>
                <div class="faq-content">
                  <p>You can learn piano, guitar, violin, drums, saxophone and voice training at Bright Sound Music Hub.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Do you teach children?</h3>
                <div class="faq-content">
                  <p>Yes, kids ages 4 and above can join our dedicated children’s music development classes.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>

            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2">
            <img src="assets/img/faq.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">

      <div class="container section-title" data-aos="fade-up">
        <h2>Recent Blog Posts</h2>
        <p>Explore tips, insights and guides on music learning and instrument mastery.</p>
      </div>

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>
              <div class="post-img">
                <img src="assets/img/blog/image1.png" alt="" class="img-fluid">
              </div>
              <p class="post-category">Music Education</p>
              <h2 class="title"><a href="/young-age">Benefits of Learning Piano at a Young Age</a></h2>
              <div class="d-flex align-items-center">
                <!-- <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Admin</p>
                  <p class="post-date"><time datetime="2024-01-01">Jan 1, 2024</time></p>
                </div> -->
              </div>
            </article>
          </div>

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>
              <div class="post-img">
                <img src="assets/img/blog/image2.png" alt="" class="img-fluid">
              </div>
              <p class="post-category">Instruments</p>
              <h2 class="title"><a href="/choose">How to Choose the Right Musical Instrument</a></h2>
              <div class="d-flex align-items-center">
                <!-- <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Admin</p>
                  <p class="post-date"><time datetime="2024-01-10">Jan 10, 2024</time></p>
                </div> -->
              </div>
            </article>
          </div>

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>
              <div class="post-img">
                <img src="assets/img/blog/image3.png" alt="" class="img-fluid">
              </div>
              <p class="post-category">Music Training</p>
              <h2 class="title"><a href="/important">what's the Importance of Music Theory in Classical Performance</a></h2>
              <div class="d-flex align-items-center">
              </div>
            </article>
          </div>

        </div>

      </div>

    </section><!-- /Recent Posts Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section light-background">

      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Reach out to us for registrations, inquiries or instrument purchases.</p>
      </div>

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                
                <p> Ikeja, Lagos, Nigeria</p>
              </div>
            </div>

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <a href="tel:+23489182986">+2348089182986</a>
                
              </div>
            </div>

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <a href="mailto:brightsoundmusichub001@gmail.com">brightsoundmusichub001@gmail.com</a>
                
              </div>
            </div>

          </div>

          <!-- <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div>

        </div>

      </div> -->

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Bright Sound Music Hub</h3>
      <p>Your trusted music academy for professional training and instrument sales across Lagos.</p>
      <div class="social-links d-flex justify-content-center">
         <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
        <a href="https://www.instagram.com/bright_sound_music_hub?utm_source=qr&igsh=YWNmN2RzdDF3Mmky"><i class="bi bi-instagram"></i></a>
        <a href="https://vm.tiktok.com/ZSHwGoFj6cVqX-py0zg/"><i class="bi bi-tiktok"></i></a>
         <a href="https://youtube.com/@brightsoundmusichub?si=aRUJVXAj1TeKSZLf"><i class="bi bi-youtube"></i></a>
    
      </div>
      <div class="container">
        <div class="copyright">
          <span></span> <strong class="px-1 sitename">Bright Sound Music Hub</strong> <span>All Rights Reserved</span>
        </div>
      </div>
    </div>
  </footer>

  <a href="https://wa.me/+2348089182986" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>

  <div id="preloader"></div>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- main JS file -->
  <script src="assets/js/main.js"></script>

</body>
